{% extends 'base.html' %}
{% load core_widgets social_media_widgets commenting_widgets commenting_tags tunosocial_widgets %}

{% block content %}
    {% include 'includes/message_error_header.html' %}
    <img src="{{ object.get_100x100_url }}">
    <span>{% num_comments object %}</span> <span>{% tunosocial_likes_widget object %}</span>
    <h3>{{ object.title }}</h3>
    {% social_media_share_widget 'facebook' 'twitter' 'google' %}
    {{ object.rich_content|safe }}
    <table cellpadding="5">
	    {% for image in object.images.permitted %}
	        {% if forloop.counter0|divisibleby:3 %}
	            <tr>
	        {% endif %}
	        <td><a href="{% url 'gallery_image_detail' image.pk %}"><img src="{{ image.get_100x100_url }}" /></a></td>
	        {% if forloop.counter|divisibleby:3 %}
	           </tr>
	        {% endif %}
	    {% empty %}
	        <p>This gallery is empty</p>
	    {% endfor %}
    </table>
    <div>
        {% num_comments object %}
        <a href="{% url 'gallery_post_comment' object.slug %}" class="add_comment">Add yours</a>
    </div>
    {% commenting_widget object 3 page_obj %}
    <a href="{% url 'gallery_all_comments' object.slug %}">Show All</a>
{% endblock %}

{% block bottom_js %}
    {% include 'commenting/includes/commenting_widget_js.html' %}
    {% include 'core/includes/ajax_pagination_js.html' %}
    {% include 'tunosocial/includes/tunosocial_likes_widget_js.html' %}
{% endblock %}