Django==1.6
Whoosh==2.4.1
South
gunicorn
raven
django-haystack==2.0.0
django-countries
django-debug-toolbar==0.11.0
django-polymorphic
django-registration==1.0
django-preferences
python-memcached
django_compressor
celery==3.0.23
django-celery==3.0.23
django-honeypot
Pillow
psycopg2
flufl.password==1.2.1
phonenumbers==5.9b1
Genshi
http://github.com/unomena/django-ckeditor-new/tarball/3.6.2.2#egg=django-ckeditor
http://github.com/unomena/django-photologue/tarball/2.8.praekelt#egg=django-photologue
http://github.com/unomena/tunobase/tarball/1.0.10#egg=tunobase
http://github.com/smn/django-holodeck/tarball/0.1.4#egg=django-holodeck
http://github.com/unomena/photon/tarball/0.0.6#egg=photon
