{% load core_widgets %}

{% include 'commenting/includes/comment_form.html' with hidden=True %}

{% comment %}<p><span id="comment_widget_comment_count">{{ object_list.paginator.count }}</span> <span id="comment_widget_comment_description">Comment{{ object_list.paginator.count|pluralize }}</span></p>{% endcomment %}
<div id="comment_widget_container">
    <div id="comment_widget_comments_container">
        {% include 'commenting/includes/comments.html' %}
    </div>
    <noscript>
        {% pagination_widget page_obj %}
    </noscript>
    <div class="ajax_pagination_container hidden">
        {% ajax_pagination_widget page_obj load_more_url '#comment_widget_comments_container' %}
    </div>
</div>