{% extends 'base.html' %}

{% block messages %}<div></div>{% endblock %}

{% block content %}
	<div id="main">

        <div id="content">

            <div class="title">
            	<h2>Confirm password reset</h2>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            </div>
            
            <div class="container">
	            <div class="news">
	            	<p>&nbsp;</p>
	            	<form id="frmPasswordResetConfirm" action="." method="POST" class="form-payment">{% csrf_token %}
	                    <div class="row">
	                        <div class="field">
	                            <label for="password1">Password *</label>
	                            {{ form.new_password1 }}{{ form.new_password1.errors }}
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="field">
	                            <label for="password2">Confirm Password *</label>
	                            {{ form.new_password2 }}{{ form.new_password2.errors }}
	                        </div>
	                    </div>
	                    <div class="buttons">
	                        <input type="submit" id="submit" value="Change my password" class="btn align_right" />
	                    </div>
	                </form>
	            </div>
            </div>
        </div>
    </div>
{% endblock %}