{% extends 'base.html' %}

{% block messages %}{% endblock %}

{% block content %}
    <div id="main">

        <div id="content">

            <div class="title">
                <h2>Forgot your password?</h2>
                <p>Use the form below to retrieve SA-Venues.com account password</p>
            </div>

            <div class="container">
                <form id="frmPasswordReset" action="." method="POST" class="form-divided form-pass-reset">{% csrf_token %}
                    <div class="form-login">
                        <h3>Reset Your Password</h3>
                        <div class="field">
                            <label for="email">Email Address *</label>
                            {{ form.email }}{{ form.email.errors }}
                        </div>
                        <div class="buttons">
                            <input type="submit" id="submit" value="Send Reset Email" class="btn align_right" />
                        </div>
                    </div>
                    <div class="form-tips">
                        <h3>Tips for logging in</h3>
                        <ul>
                            <li>Make sure you enter a valid email address</li>
                            <li>Double-check the spelling of your email address</li>
                            <li>Make sure CAPS-lock is off</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </form>
                
            </div>

        </div><!--/content-->

    </div><!--/Main-->
{% endblock %}