<div class="commenting_comment">
    {% if comment.user %}
        <img src="{{ comment.user.get_100x100_url }}">
        <a {% if comment.user.is_special_guest %}class="special"{% endif %} href="{% url 'user_profile' comment.user.pk %}">{{ comment.user }}</a>
    {% else %}
        <span>Anonymous</span>
    {% endif %}
	<span>{{ comment.publish_at }}</span>&nbsp;&bull;&nbsp;
	{% if user.is_authenticated %}
       <a class="report_comment" href="{% url 'report_comment' comment.pk %}"> Report</a>
    {% endif %}
	{% if not comment.is_removed %}
		<p>{{ comment.comment }}</p>
	{% else %}
		<p><strong><i>This comment has been removed.</i></strong></p>
	{% endif %}
</div>