{% extends 'base.html' %}
{% load core_widgets social_media_widgets commenting_widgets %}

{% block breadcrumbs %}
    {{ block.super }} {% breadcrumb_url_widget 'Discussions' 'discussions' %}
{% endblock %}

{% block content %}
    {% include 'includes/message_error_header.html' %}
    <h3>{{ object.title }}</h3>
    {% social_media_share_widget 'facebook' 'twitter' 'google' %}
    <a href="{% url 'discussion_post_comment' object.slug %}" class="add_comment">Add a comment</a>
    {% commenting_widget object 3 page_obj %}
{% endblock %}

{% block bottom_js %}
    {% include 'commenting/includes/commenting_widget_js.html' %}
    {% include 'core/includes/ajax_pagination_js.html' %}
{% endblock %}