{% extends 'base.html' %}
{% load core_widgets social_media_widgets commenting_widgets commenting_tags %}

{% block breadcrumbs %}
<!-- Added Techaffinity - Discussion id and object id in store for js function -->
        <input type="hidden" id="divprefid" class="divprefid" value="{{ preferences.SitePreferences.active_discussion.id }}" />
        <input type="hidden" id="divobjfid" class="divobjfid" value="{{ object.id }}" />
        {% if preferences.SitePreferences.active_discussion.id == object.id %}
        <div class="breadcrumbs liveChatHeading">
            {{ block.super }} >
            <a href="{% url 'discussion_detail' object.slug%}">Live Chat</a>
        </div>
        {% else %}
        <div class="breadcrumbs updates">
            {{ block.super }} >
            <a href="{% url 'discussions'%}">Discussions</a>
        </div>
        {% endif %}
{% endblock %}

{% block content %}
    {% include 'includes/message_error_header.html' %}
    <div class="block">
    	<div class="item no-bord">
            {% if preferences.SitePreferences.active_discussion.id == object.id %}
                {% if object.created_by and object.created_by.about_me and object.created_by.image %}
                    <div><img src="{{ object.created_by.get_30x30_url }}">
                    <span class="titleLiveChat">Live Chat with {{ object.created_by }}
                    </span ><br/>
                    <span  class="userLiveChatContent">
                    {{ object.created_by.about_me }}
                    </span>
                </div>
                {% endif %}
	   		{% social_media_share_widget 'facebook' 'twitter' 'google' %}
            {% endif %}
            <div class="lead">
               {{ object.title }}
            </div>
            <div class="discussion_description">
            {{ object.rich_content|safe }}
            </div>
		</div>
		<div class="item">
		    {% num_comments object %}
		    <a href="{% url 'discussion_post_comment' object.slug %}" class="add_comment">Add yours</a>
        </div>
	    {% commenting_widget object 3 page_obj %}
        <div class="item">   
            <a href="{% url 'discussions' %}" class="navver">Back to Discussions</a>
        </div>
    </div>
{% endblock %}

{% block bottom_js %}
    {% include 'commenting/includes/commenting_widget_js.html' %}
    {% include 'core/includes/ajax_pagination_js.html' %}
{% endblock %}