{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block messages %}<div></div>{% endblock %}

{% block content %}
    <h1>You have successfully activated your account.</h1>
    <h2>This page will redirect shortly.</h2>
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            setTimeout(function() {
                  window.location.href = "{% url 'secure_login' %}";
            }, 2500);
        });
    </script>
{% endblock %}