{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs">Logout</div>{% endblock %}

{% block content %}
    <div class="block">
        <div class="rich">
            <p>You have been logged out</p>
            <p>You will be redirected in a few seconds</p>
            <p>Please visit us again soon!</p>
        </div>
    </div>
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            setTimeout(function() {
                  window.location.href = "{% url 'index' %}";
            }, 5000);
        });
    </script>
{% endblock %}