{% extends 'base.html' %}

{% block breadcrumbs %}<div class="breadcrumbs">Sign In</div>{% endblock %}

{% block content %}
    <div class="block">
        <form id="frmLogin" method="post" action=".">{% csrf_token %}
            <div class="field">
                <label>Username / Mobile</label>
                {{ form.username }}{{ form.username.errors }}
            </div>
            <div class="field">
                <label>PIN<a href="{% url 'secure_password_reset' %}">Forgot your PIN?</a></label>
                {{ form.password }}{{ form.password.errors }}
            </div>
            <div class="btn">
                <input type="submit" value="Sign In" />
                <p class="align-right"><input type="checkbox" name="remember" class="orange_box"/>Remember me</p>
            </div>
            <hr />
            <p class="note">Don't have an account?<br /><a href="{% url 'secure_register' %}">Sign up now</a></p>                
        </form>
    </div><!--/block-->
{% endblock %}