{% extends 'base.html' %}

{% block messages %}<div></div>{% endblock %}

{% block content %}
	<form id="frmPasswordResetConfirm" action="." method="POST" class="validate_form">{% csrf_token %}
	    <label for="password1">Password <span>*</span></label>
	    {{ form.new_password1 }}{{ form.new_password1.errors }}
	   
	    <label for="password2">Confirm Password <span>*</span></label>
	    {{ form.new_password2 }}{{ form.new_password2.errors }}
	   
	   <input type="submit" value="Change my password" />
    </form>
{% endblock %}