{% extends 'base.html' %}

{% block content %}
    <h2>Password reset complete</h2>

	{% include 'includes/message_error_header.html' %}
    <p>Your password has been set. You may go ahead and log in now.</p>
    <p>This page will redirect shortly.</p>
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            setTimeout(function() {
                  window.location.href = "{% url 'secure_login' %}";
            }, 5000);
        });
    </script>
{% endblock %}