{% extends 'base.html' %}

{% block breadcrumbs %}<div class="breadcrumbs">Forgot Your Password</div>{% endblock %}

{% block content %}
	<div class="block">
		<form id="frmPasswordReset" action="." method="POST">{% csrf_token %}
			<p class="intro">Use the form below to retrieve your Account password</p>
			<div class="field">
				<label for="email">Username / Mobile</label>
		    	{{ form.username }}{{ form.username.errors }}
		    </div>
		    <div class="btn">
		    	<input type="submit" value="Send new PIN" />
		    </div>
		</form>
	</div>
{% endblock %}