{% extends 'base.html' %}

{% block content %}
    <h1>Change Your Password</h1>
    {% include 'includes/message_error_header.html' %}
	        
	<form id="frmChangePassword" action="." method="POST" class="validate_form">{% csrf_token %}
	    <label for="old_password">Current Password *</label>
        {{ form.old_password }}{{ form.old_password.errors }}
              
        <label for="new_password1">New Password *</label>
        {{ form.password1 }}{{ form.password1.errors }}
	    
        <label for="new_password2">New Password Confirm *</label>
        {{ form.password2 }}{{ form.password2.errors }}
	    
	    <input type="submit" value="Change Password" />
	</form>
{% endblock %}