{% extends 'base.html' %}

{% block breadcrumbs %}<div class="breadcrumbs">Sign Up</div>{% endblock %}

{% block content %}
    <div class="block">
        <form id="frmRegister" action="." method="POST" class="validate_form">{% csrf_token %}
            <div class="field">
                <label for="id_username">Choose a username</label>
                {{ form.username }}{{ form.username.errors }}
            </div>
            <div class="field">
                <label for="id_password">Choose a 4 digit PIN</label>
                {{ form.password }}{{ form.password.errors }}
            </div>
            <div class="field">
                <label for="id_mobile_number">Your Mobile Number</label>
                {{ form.mobile_number }}{{ form.mobile_number.errors }}{{ form.mobile.help_text }}
            </div>
            <!-- ######## Added by Techaffinity ##########-->
              <div class="field">
                <label for="id_gender">Gender:</label>
                {{ form.gender }}{{ form.gender.errors }}
            </div>
              <div class="field">
                <label for="id_dob">Your Birthday:</label>
                <span>{{ form.day }}</span>
                <span>{{ form.month }}</span>
                <span>{{ form.year }}</span>
                {{ form.month.errors }}
                {{ form.day.errors }}
                {{ form.year.errors }}
            </div>
            <!-- #################################################-->
            <div class="btn">
                <input type="submit" value="Sign Up" />
            </div>
        </form>
    </div>
{% endblock %}