{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs">Registration Complete</div>{% endblock %}

{% block content %}
	<div class="block">
		<div class="rich">
	    	<p><strong>What happens now?</strong></p>
	    	<p>You may go ahead and login.</p>
	    	<p>This page will redirect shortly.</p>
	    </div>
    </div>
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript">
	    setTimeout(function() {
	        window.location.href = "{% url 'secure_login' %}";
	    }, 7500);
    </script>
{% endblock %}