{% extends 'base.html' %}
{% load commenting_tags %}

{% block breadcrumbs %}<div class="breadcrumbs">User Profile</div>{% endblock %}

{% block content %}
	<div class="block">
		<div class="item">
			<div class="part">
		    	<img src="{{ user.get_100x100_url }}">
			    <div class="lead">About {{ user.username }}</div>
			    <div class="desc">{% if user.about_me %}{{ user.about_me }}{% else %}Not set{% endif %}</div>
			    <div class="desc">Join Date: {{ user.date_joined|date:"j/m/Y" }}</div>
			    <div class="desc">{{ num_comments }} Comment{{ num_comments|pluralize }} Made</div>
		    </div>
	    </div>
    </div>
{% endblock %}