<script>
	$('.poll_results').hide();

	function show_poll($el){
		$el.parent().parent().hide();
		$el.parent().parent().prev('.block').fadeIn();
	}
	
	function show_poll_results($el){
		$el.parent().parent().parent().parent().hide();
		$el.parent().parent().parent().parent().next('.poll_results').fadeIn();
	}
	
	$('.poll a').click(function(e){
		show_poll_results($(this));
        /////////////////Added by TechAffinity////////////
        if ($('.poll_results').find('.messages').size() == 1){
        	$('.poll_results').find('.messages').remove();
        }
		//////////////////////////////////////////////////
		return false;
	});
	
	$('.poll_results a').click(function(e){
		show_poll($(this));
		return false;
	});

	$('.poll_form').each(function(){
		$(this).validate({
	        submitHandler: function(form){
	            $(form).ajaxSubmit({
	                success: function(data){
	                    data = JSON.parse(data);
	                    if(data.success){
	                        //$(form).parent().parent().next('.poll_results').find('.content').html(data.results);
	                        show_poll_results($(form).parent().find('a'));
	                        /////////////////Added by TechAffinity////////////
	                        if ($(data.results).filter('.messages').children().hasClass('error') && $('.poll_results').find('.messages').size() == 0){
	                        	$('.content').append($(data.results).filter('.messages'));
	                        /////////////////////////////////////////////////
	                        }
	                    } else{
	                        alert(data.reason);
	                    }
	                }
	            });
	        }
	    });	
	});
</script>