{% if not error %}
	<div class="block">
		<div class="poll">
		    <form class="poll_form" action="{% url 'poll_answer' form.poll.pk %}" method="post">
		    	{% csrf_token %}
		    	{% if multiple_answers %}
		    	  {{ form.multiple_answers }}
		    	{% endif %}
		        <div class="lead">{{ form.poll.question }}:</div>
		        {{ form.answers }}
		        <div class="btn">
		        	<input type="submit" id="submit" value="Vote"> &nbsp; 
	            	<a href="{% url 'poll_results' form.poll.pk %}">See Results</a>
	            </div>
		    </form>
	    </div>
	</div>
	<div class="poll_results">
	    <div class="content">
		  {% include 'poll/includes/poll_results.html' %}
		</div>
		<div class="btn">
		    <a href="javascript: void(0);">See Poll</a>
		</div>
	</div>
{% else %}
	{% if user.is_admin %}<p style="color: red">{% if pk %}Please load a Poll Question with pk {{ pk }} in the database.{% else %}Please set the Active Poll in Site preferences admin{% endif %}</p>{% endif %}
{% endif %}