{% extends 'base.html' %}
{% load unobase_tags %}

{% block content %}
    <div id="main">

        <div id="content">

            <div class="title">
                <h2>Oops! Page not found :(</h2>
                <p>Our apologies for the inconvenience</p>
            </div>

            <div class="container">
                <div  class="padder">
                    <h2>We unfortunately can't find the page you are looking for</h2>
                    <p>It might have moved. Please navigate back to the <a href="/">homepage</a> and try again.</p>
                </div>
            </div>

		</div><!--/content-->

    </div><!--/Main-->
{% endblock %}