{% load compress %}
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <title>{% block title %} Girl Hub Rwanda{% endblock %}</title> 
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}app/img/favicon.ico" />
        <link href="{{ STATIC_URL }}app/css/styles.css?v=1" rel="stylesheet" type="text/css" /> 
    </head>
    <body>
        <a name="top"></a>
        {% block header %}
	        {% include 'includes/header.html' %}
	    {% endblock %}
        
        <div class="content">
            {% block breadcrumbs %}
                <a href="{% url 'index' %}">Home</a>
            {% endblock %}
            {% block content %}{% endblock %}
            <div class="top"><a href="#top">Back to top</a></div>
        </div><!--/content-->

        {% block menu %}
            {% include 'includes/menu.html' %}
        {% endblock %}
        
        {% block footer %}
	        <div class="footer">
	            <p><a href="/terms/">Terms</a> | <a href="/privacy/">Privacy Policy</a> | <a href="/contact/">Contact Us</a></p>
                <p><span>&copy; Nike Foundation</span></p>
	        </div><!--/footer-->
        {% endblock %}
        {% compress js %}
	        <script src="{{ STATIC_URL }}app/js/libs/jquery-1.10.2.min.js"></script>
	        <script src="{{ STATIC_URL }}app/js/libs/jquery.form.js"></script>
	        <script src="{{ STATIC_URL }}app/js/libs/jquery.formset.js"></script>
	        <script src="{{ STATIC_URL }}app/js/libs/jquery.validate.js"></script>
	        <script src="{{ STATIC_URL }}app/js/libs/jquery-ui-1.10.3.custom.min.js"></script>
	        <script src="{{ STATIC_URL }}app/js/libs/tag-it.min.js"></script>
	        <script src="{{ STATIC_URL }}app/js/scripts.js"></script>
	    {% endcompress %}
        {% block bottom_js %}{% endblock %}
    </body>
</html>