{% extends 'base.html' %}
{% load core_widgets commenting_widgets commenting_tags %}

{% block breadcrumbs %}
    <div class="breadcrumbs">{{ block.super }}</div>
{% endblock %}

{% block content %}
    {% include 'includes/message_error_header.html' %}
    <div class="block">
    	<div class="item">
        	{% num_comments object %}
        	<a href="{% url 'article_post_comment' object.slug %}" class="add_comment">Add yours</a>
    	</div>
        <div class="comments">
	    	{% commenting_widget object page_obj=page_obj %}
	    </div>
    </div>
{% endblock %}

{% block bottom_js %}
    {% include 'commenting/includes/commenting_widget_js.html' %}
{% endblock %}