{% extends 'base.html' %}
{% load root_widgets poll_widgets %}

{% block breadcrumbs %}{% endblock %}
        
{% block content %} 
    <div class="block">
        <div class="live"><a href="{% url 'discussions' %}">Live Chat:</a> Lorem ipsum dolor sit amet, consectetur heading</div>
    </div>

    <div class="block">
        <div class="title">Have your say</div>
        {% poll_widget %}
    </div><!--/block-->
    <div class="block">
        <div class="title">Discussions</div>
        {% home_page_discussion_widget %}
    </div><!--/block-->
    <div class="block">
        <div class="title">Updates</div>
        {% home_page_updates_widget %}
    </div><!--/block-->
{% endblock %}

{% block bottom_js %}
    {% include 'poll/includes/poll_widget_js.html' %}
{% endblock %}