{% extends 'base.html' %}
{% load root_widgets poll_widgets %}

{% block breadcrumbs %}{% endblock %}
        
{% block content %} 
    <div class="block">
        {% if active_discussion %}
            <div class="live"><a href="{% url 'discussions' %}">Live Chat:</a> {{ active_discussion.title }}</div>
        {% else %}
            {% if user.is_admin %}
                <p style="color: red;">Please load the Live Chat as Active Discussion in Preferences adminn</p>
            {% endif %}
        {% endif %}
    </div>

    <div class="block">
        <div class="title">Have your say</div>
        {% poll_widget %}
    </div><!--/block-->
    <div class="block">
        <div class="title">Discussions</div>
        {% home_page_discussion_widget %}
    </div><!--/block-->
    <div class="block">
        <div class="title">Updates</div>
        {% home_page_updates_widget %}
    </div><!--/block-->
{% endblock %}

{% block bottom_js %}
    {% include 'poll/includes/poll_widget_js.html' %}
{% endblock %}