{% extends 'base.html' %}
{% load core_widgets %}

{% block breadcrumbs %}
    <div class="breadcrumbs"><a href="/">Home</a>»<a href="#">Search</a></div>
{% endblock %}

{% block content %}
    <div class="block">
        <div class="comment_form">
            <form id="frmSearch" action="#" method="POST" >{% csrf_token %}
                <div>{{ form.search_criteria }}</div>
                <div class="btn">
                    <input type="submit" value="Search" />
                </div>            
            </form>                  
        </div><!--/comment_form-->
        
        {% if object_list %}
	        <div class="item">
		        <div class="">Search results</div>
		        <div class="meta"><span class="meta_comments">{{ count }} Result{{ count|pluralize }} for {{ phrase }}.</span></div>
		        {% for object in object_list %}
			        <div class="lead"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></div>
			        {% if object.plain_content %}<p>{{ object.plain_content }}</p>{% endif %}
		        {% endfor %}
		    </div><!--/item-->
	        {% pagination_widget page_obj %}
        {% endif %}
    </div><!--/block-->
{% endblock %}