<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SA-Venues.com</title>
	<style type="text/css">
		body, html { height: 100%; margin: 0; font-family: "Arial" , "Helvetica", sans-serif; font-size: 13px; color: #666; }
		.landing { width: 345px; height: 200px; position: absolute; margin: 50px auto 0 auto; top: 0; bottom: 0; left: 0; right: 0; text-align: center; }
	</style>
</head>
<body>
	<div class="landing">
		<a href="http://www.sa-venues.com/"><img src="http://www.sa-venues.com/include/images/logo.gif" /></a>
		<h1 style="margin: 20px 0; padding: 0; font-size: 18px; font-weight: normal; color: #000; text-align: center;">Ouch, something broke :(</h1>
		<p>Our engineers have already been notified, and are working hard to resolve the issue.</p>
		<p>We apologize for the inconvenience.</p>
		<p>Please visit <a href="http://www.sa-venues.com/" style="color: #000;">www.sa-venues.com</a> to search for accommodation while you wait.</p>
	</div>
</body>
</html>