<div class="menu"><a name="menu"></a>
    <h1>Menu</h1>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'articles' %}">Articles</a></li>
        <li><a href="{% url 'discussions' %}">Discussions</a></li>
        <li><a href="{% url 'galleries' %}">Galleries</a></li>
        <li><a href="{% url 'directory_categories' %}">Directory</a></li>
        {% if user.is_admin or user.is_ni_nyampinga_journalist or user.is_ambassador %}
	        <li><a href="{% url 'faq' %}">FAQ</a></li>
	        <li><a href="{% url 'contact_categories' %}">Ni Nyampinga Contacts</a></li>
	        <li><a href="{% url 'newsfeed' %}">Newsfeed</a></li>
	        <li><a href="{% url 'research_tool' %}">Research Tool</a></li>
	    {% endif %}
    </ul>
</div><!--/menu-->