{% extends 'base.html' %}

{% block content %}

	<div id="main">

        <div id="content">

            <div class="title">
            	<h2>Password reset complete</h2>
            </div>
            
            <div class="container">
	            <div class="news" style="padding: 10px;">
	            	{% include 'sav/includes/message_error_header.html' %}
                    <p>Your password has been set. You may go ahead and log in now.</p>
                    <p>This page will redirect shortly.</p>
                    <p>&nbsp;</p>
	            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            setTimeout(function() {
                  window.location.href = "{% url 'secure_login' %}";
            }, 5000);
        });
    </script>
{% endblock %}