/**************************************************************************************************************************************/
/* RESETS */

	html, body { margin: 0; padding: 0; color: #000; background: #ffd500; font-size: 100%; font-family: Arial, Helvetica, sans-serif; line-height: 1.3em; -webkit-text-size-adjust: none; }
	input, select, textarea { font-size: 95%; font-family: Arial, Helvetica, sans-serif; }
	a { color: #fff; text-decoration: none; }


/**************************************************************************************************************************************/
/*  HELPERS */

	ul li a { color: #fff; }
	.hidden { display: none; }
	.align-right { float: right; }
	.no-bord { border: 0!important; }


/**************************************************************************************************************************************/
/*  HEADER */

	.header { padding: 5px 10px; background: #019b93; font-size: 90%; text-transform: uppercase; color: #23c9c0; }


/**************************************************************************************************************************************/
/*  BRAND */
	
	.brand { height: 42px; padding: 5px 5px 0 5px; }
		.brand img { float: left; padding: 11px 0 0 0; display: block; }


/**************************************************************************************************************************************/
/*  MENU */

	.menu { background: #019b93; text-align: center; }
		.menu h1 { margin: 0; padding: 7px 0; font-size: 100%; color: #fff; text-transform: uppercase; }
		.menu ul { margin: 0; padding: 0; list-style: none; font-size: 90%; }
		.menu ul li { padding: 7px 0; background: #1cb4ac; border-bottom: 1px solid #4ce4dc; }
		.menu ul li:last-child { border: 0; }
		.menu ul li a { display: block; text-transform: uppercase; font-weight: bold; }


/**************************************************************************************************************************************/
/*  FOOTER */

	.footer { padding: 10px; background: #019b93; color: #fff; font-size: 90%; text-align: center; text-transform: uppercase; }
		.footer p { margin: 0; padding: 0; color: #3dd4cc; }
		.footer p a { font-weight: bold; }
		.footer p span { color: #fff; }


/**************************************************************************************************************************************/
/*  CONTENT */

	.content { padding: 0 5px 5px 5px; }
		/* top */
		.top { padding: 5px 10px; }
		.top a { text-transform: uppercase; font-size: 90%; font-weight: bold; color: #ec008b; }
		/* live chat */
		.live { padding: 10px; font-weight: bold; color: #000; }
		.live a { color: #ec008b; text-transform: uppercase; }
		/* blocks */
		.block { background: #fff; margin: 0 0 5px 0; }
		/* titles */
		.title,
		.breadcrumbs { padding: 7px 10px; background: #ec008b; font-weight: bold; text-transform: uppercase; color: #fff; }
		/* pagination */
		.pagination { padding: 10px; font-size: 90%; }
		.pagination p { margin: 0; padding: 0; }
		/* intro */
		.intro { margin: 0; padding: 0 0 5px 0; }
		/* block - form */
		.block form { padding: 10px; }
		.block form .field { padding: 0 0 5px 0; font-size: 90%; font-weight: bold; }
		.block form .field label { display: block; }
		.block form .field label a { float: right; font-size: 90%; color: #019b93; }
		.block form .field input,
		.block form .field textarea { width: 94%; padding: 5px; border: 1px solid #ccc; }
		.block form .btn { padding: 2px 0; }
		.block form .btn input { padding: 5px 10px; border: 0; background: #1cb4ac; font-size: 90%; font-weight: bold; color: #fff; text-transform: uppercase; }
		.block form .btn .align-right { padding: 6px 0; margin: 0; font-size: 80%; text-transform: uppercase; }
		.block form .btn .align-right input { float: right; margin: 3px 0 0 5px; }
		.block form hr { clear: both; margin: 10px 0; border-style: none; border-top: 1px solid #cdcdcd; }
		.block form .note { padding: 10; margin: 0; }
		.block form .note a { color: #1cb4ac; font-weight: bold; text-transform: uppercase; }
		.block form .helptext { font-weight: normal; color: #878686; }
		/* block - item */
		.block .item { padding: 10px; border-bottom: 1px solid #cdcdcd; }
		.block .item:last-child { border: 0; }
		.block .item img { width: 50px; float: left; }
		.block .item .words { margin: 0 0 0 60px; }
		.block .item .type { font-size: 90%; font-weight: bold; text-transform: uppercase; color: #1cb4ac; }
		.block .item .lead { font-weight: bold; color: #000; }
		.block .item .lead a { color: #000; }
		.block .item .meta { font-size: 90%; color: #ee1f99; }
		.block .item .meta span { color: #878686; }
		.block .item .meta a { color: #1cb4ac; }
		.block .item .desc { color: #878686; }
		.block .item .part { padding: 0 0 10px 0; }


/**************************************************************************************************************************************/
/*  RICH */

	.block .rich { padding: 5px 10px; }
	.block .rich p,
	.block .rich ul,
	.block .rich ol { margin: 10px 0; }


/**************************************************************************************************************************************/
/*  ERRORS */

	ul.errorlist { margin: 10px 0; padding: 5px 10px; list-style: none; background: #ff0000; font-size: 90%; font-weight: normal; color: #fff; }