/**************************************************************************************************************************************/
/* RESETS */

	html, body { margin: 0; padding: 0; color: #000; background: #ffd500; font-size: 100%; font-family: Arial, Helvetica, sans-serif; line-height: 1.3em; -webkit-text-size-adjust: none; }
	input, select, textarea { font-size: 95%; font-family: Arial, Helvetica, sans-serif; }
	a { color: #fff; text-decoration: none; }


/**************************************************************************************************************************************/
/*  HELPERS */

	ul li a { color: #fff; }
	.hidden { display: none; }
	.align-right { float: right; }


/**************************************************************************************************************************************/
/*  HEADER */

	.header { padding: 5px 10px; background: #019b93; font-size: 90%; text-transform: uppercase; color: #23c9c0; }


/**************************************************************************************************************************************/
/*  BRAND */
	
	.brand { height: 42px; padding: 5px 5px 0 5px; }
		.brand img { float: left; padding: 11px 0 0 0; display: block; }


/**************************************************************************************************************************************/
/*  MENU */

	.menu { background: #019b93; text-align: center; }
		.menu h1 { margin: 0; padding: 7px 0; font-size: 100%; color: #fff; text-transform: uppercase; }
		.menu ul { margin: 0; padding: 0; list-style: none; font-size: 90%; }
		.menu ul li { padding: 7px 0; background: #1cb4ac; border-bottom: 1px solid #4ce4dc; }
		.menu ul li:last-child { border: 0; }
		.menu ul li a { display: block; text-transform: uppercase; font-weight: bold; }


/**************************************************************************************************************************************/
/*  FOOTER */

	.footer { padding: 10px; background: #019b93; color: #fff; font-size: 90%; text-align: center; text-transform: uppercase; }
		.footer p { margin: 0; padding: 0; color: #3dd4cc; }
		.footer p a { font-weight: bold; }
		.footer p span { color: #fff; }


/**************************************************************************************************************************************/
/*  CONTENT */

	.content { padding: 0 5px 5px 5px; }
		/* top */
		.top { padding: 5px 10px; }
		.top a { text-transform: uppercase; font-size: 90%; font-weight: bold; color: #ec008b; }
		/* live chat */
		.live { padding: 10px; font-weight: bold; color: #000; }
		.live a { color: #ec008b; text-transform: uppercase; }
		/* blocks */
		.block { background: #fff; margin: 5px 0; }
		/* titles */
		.title { padding: 7px 0; background: #ec008b; font-weight: bold; text-align: center; text-transform: uppercase; color: #fff; }
		/* block - form */
		.block form { padding: 10px; }
		.block form .field { padding: 0 0 5px 0; font-size: 90%; font-weight: bold; }
		.block form .field label { display: block; }
		.block form .field input { width: 95%; padding: 5px; border: 1px solid #ccc; }
