{% extends 'base.html' %}
{% load core_widgets %}

{% block breadcrumbs %}
    <div class="breadcrumbs">{{ block.super }} {% breadcrumb_url_widget 'Newsfeed' 'newsfeed' %}</div>
{% endblock %}

{% block content %}
	<div class="block">
		<div class="item">
        	<div class="type">{{ object.source_name }}</div>
            <div class="lead"><a href="{% url 'newsfeed_detail' object.slug %}">{{ object.title }}</a></div>
            <div class="meta">{{ object.publish_at|date:"j M Y" }}</div>
            <div class="rich deets">{{ object.rich_content|safe }}</div>
        </div>
    </div>
{% endblock %}