{% extends 'base.html' %}

{% block content %}
            
	<div class="block">
	    <div class="title">
	        <div class="breadcrumbs"><a href="{% url 'index' %}">Home</a> &raquo; Ni Nyampinga Contacts</div>
	    </div>            
	    <h1>Category Title</h1>
	    <h2>Indrani Vedula</h2>
	    <p><span>Girl Hub Director</span><br />
	       <span>Kigali</span><br />
	       T: +99 999 999<br />
	       E: <a href="#">indrani@domain.com</a>
	    </p>                           
	</div><!--/block-->
	<div class="block">           
	    <h2>Directory Item</h2>
	    <p><span>Girl Hub Director</span><br />
	       <span>Kigali</span><br />
	       T: +99 999 999<br />
	       E: <a href="#">indrani@domain.com</a>
	    </p>                           
	</div><!--/block-->
	<div class="block">           
	    <h2>Directory Item</h2>
	    <p><span>Girl Hub Director</span><br />
	       <span>Kigali</span><br />
	       T: +99 999 999<br />
	       E: <a href="#">indrani@domain.com</a>
	    </p>                           
	</div><!--/block-->
	<div class="block">            
	    <h2>Directory Item</h2>
	    <p><span>Girl Hub Director</span><br />
	       <span>Kigali</span><br />
	       T: +99 999 999<br />
	       E: <a href="#">indrani@domain.com</a>
	    </p>                           
	</div><!--/block-->
	<div class="block">          
	    <h2>Directory Item</h2>
	    <p><span>Girl Hub Director</span><br />
	       <span>Kigali</span><br />
	       T: +99 999 999<br />
	       E: <a href="#">indrani@domain.com</a>
	    </p>                           
	</div><!--/block-->
	<p><a href="">&laquo; Go back</a></p>

{% endblock %}