{% extends 'base.html' %}

{% block content %}
            
	<div class="block">
	    <div class="title">
	        <div class="breadcrumbs"><a href="{% url 'index' %}">Home</a> &raquo; Directory</div>
	    </div>            
	    <p>&raquo; <a href="{% url 'directory_detail' %}">Directory Category</a></p>                           
	</div><!--/block-->
	<div class="block">           
	    <p>&raquo; <a href="{% url 'directory_detail' %}">Directory Category</a></p>                           
	</div><!--/block-->
	<div class="block">           
	    <p>&raquo; <a href="{% url 'directory_detail' %}">Directory Category</a></p>                           
	</div><!--/block-->
	<div class="block">            
	    <p>&raquo; <a href="{% url 'directory_detail' %}">Directory Category</a></p>                           
	</div><!--/block-->
	<div class="block">          
	    <p>&raquo; <a href="{% url 'directory_detail' %}">Directory Category</a></p>                           
	</div><!--/block-->
            
{% endblock %}