<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <title>Girl Hub Rwanda</title> 
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <link href="../../static/ghr/css/styles.css?v=1" rel="stylesheet" type="text/css" /> 
    </head>
    <body>
        <a name="#top"></a>
        <div class="header">
            <div class="logo">
                <a href="#"><img src="#" /></a>
            </div>
            <div class="deets">
                <a href="#">Sign In</a>
                <a href="#">Menu</a>
            </div>                    
        </div><!--/header-->
        
        <div class="content">
            
            <div class="block">
                <div class="title">Add your comment</div>   
                <h2>Lorem ipsum dolor sit amet, consectetur heading</h2>
                <form id="frmComment" method="post" action=".">
                    <div class="field">
                        <label>Comment</label>
                        <textarea cols="40" rows="5"></textarea>
                    </div>
                    <div class="field">
                        <input type="checkbox" name="anonymous" />Keep it anonymous
                    </div>
                    <div class="btn">
                        <input type="submit" value="Add Comment" />
                    </div>
                </form>                
            </div>
            <!--/block-->
            <div class="block">
                <div class="title"><a href="#top">Back to top</a></div>
            </div><!--/block-->
            <div class="block">
                <div class="menu">
                    <h1>Menu</h1>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Galleries</a></li>
                        <li><a href="#">Discussions</a></li>
                        <li><a href="#">Directory</a></li>
                    </ul>
                </div>
            </div><!--/block-->
            
        </div><!--/content-->
        
        <div class="footer">
            <p>&copy; Nike Foundation</p>
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div><!--/footer-->
    </body>
</html>