{% extends 'base.html' %}

{% block content %}
            
            <div class="block">
                <div class="title"> 
                    <div class="breadcrumbs"><a href="{% url 'index' %}">Home</a> &raquo; <a href="/">Discussion</a></div>
                </div>
                <h2>Lorem ipsum dolor sit amet, consectetur heading</h2>                
                <div class="share">
                    <ul>
                        <li>Share:</li>
                        <li><a href="#">tweet</a></li>
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">+1</a></li>
                    </ul>
                </div>                
            </div>
            <!--/block-->
            
            <div class="block">
                <div class="titles">Add a comment</div>
                <div class="head_mini">
                    <ul>
                        <li><img src="" /></li>
                        <li class="user"><a href="#">indrani</a></li>
                        <li class="date">01 Jul '13 16:09</li>
                        <li><a href="#">Report</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Haec quo modo conveniant, non sane intellego. Quae cum essent dicta, discessimus. Sequitur disserendi ratio cognitioque naturae; Quid censes in Latino fore? Duo Reges: constructio interrete. </p>
                </div>
                <div class="head_mini">
                    <ul>
                        <li><img src="" /></li>
                        <li class="user"><a href="#">indrani</a></li>
                        <li class="date">01 Jul '13 16:09</li>
                        <li><a href="#">Report</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Haec quo modo conveniant, non sane intellego. Quae cum essent dicta, discessimus. Sequitur disserendi ratio cognitioque naturae; Quid censes in Latino fore? Duo Reges: constructio interrete. </p>
                </div>
                <div class="head_mini">
                    <ul>
                        <li><img src="" /></li>
                        <li class="user"><a href="#">indrani</a></li>
                        <li class="date">01 Jul '13 16:09</li>
                        <li><a href="#">Report</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Haec quo modo conveniant, non sane intellego. Quae cum essent dicta, discessimus. Sequitur disserendi ratio cognitioque naturae; Quid censes in Latino fore? Duo Reges: constructio interrete. </p>
                </div>
            </div><!--/block-->
            <div class="pagination">
                 <ul>
                    <li><a href="">&laquo; prev</a></li>
                    <li><a href="">next &raquo;</a></li>
                    <li><a href="">show all</a></li>
                 </ul>
            </div><!--/pagination-->
           
{% endblock %}