{% extends 'base.html' %}

{% block content %}

	<div class="block">
	    <div class="title">
	        <div class="breadcrumbs"><a href="{% url 'index' %}">Home</a> &raquo; FAQ</div>
	    </div>            
	    <p>&raquo; <a href="{% url 'faq_detail' %}">Lorem ipsu dolor sit amet consectetur question 1</a></p>                           
	</div><!--/block-->
	<div class="block">           
	    <p>&raquo; <a href="{% url 'faq_detail' %}">Lorem ipsu dolor sit amet consectetur question 2</a></p>                           
	</div><!--/block-->
	<div class="block">           
	    <p>&raquo; <a href="{% url 'faq_detail' %}">Lorem ipsu dolor sit amet consectetur question 3</a></p>                           
	</div><!--/block-->
	<div class="block">            
	    <p>&raquo; <a href="{% url 'faq_detail' %}">Lorem ipsu dolor sit amet consectetur question 4</a></p>                           
	</div><!--/block-->
	<div class="block">          
	    <p>&raquo; <a href="{% url 'faq_detail' %}">Lorem ipsu dolor sit amet consectetur question 5</a></p>                           
	</div><!--/block-->
	<div class="block">          
	    <p>&raquo; <a href="{% url 'faq_detail' %}">Lorem ipsu dolor sit amet consectetur question 6</a></p>                           
	</div><!--/block-->
	<div class="block">          
	    <p>&raquo; <a href="{% url 'faq_detail' %}">Lorem ipsu dolor sit amet consectetur question 7</a></p>                           
	</div><!--/block-->
            
{% endblock %}