{% extends 'base.html' %}

{% block content %}
            
	<div class="block">
	    <div class="title">
	        <div class="breadcrumbs"><a href="{% url 'index' %}">Home</a> &raquo; FAQ</div>
	    </div>            
	    <h2>Lorem ipsum dolor sit amet consectetur FAQ question</h2>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	    <p>Hoc est non modo cor non habere, sed ne palatum quidem. Quo modo autem optimum, si bonum praeterea nullum est? </p>
	    <p>Ille enim occurrentia nescio quae comminiscebatur; Tu quidem reddes; Non est ista, inquam, Piso, magna dissensio.</p>                           
	</div><!--/block-->
	<p><a href="">&laquo; Go back</a></p>
            
{% endblock %}