{% extends 'base.html' %}

{% block content %}

	<div class="block">
	    <div class="title">PIN recovery <span><a href="{% url 'login' %}">Sign In</a></span></div>
	    <form id="frmForgotPassword" method="post" action="{% url 'forgot_password_success' %}">
	    {% csrf_token %}
	        <div class="field">
	            <label>Username / Mobile</label>
	            <input type="text" name="username" value="" />
	        </div>
	        <div class="btn">
	            <input type="submit" value="Send new PIN" />
	        </div>               
	    </form>                                    
	    <p>Need help?</p>
	    <p><a href="{% url 'contact' %}">Contact us</a></p> 
	</div><!--/block-->           

{% endblock %}

            
            
