{% extends 'base.html' %}
        
{% block content %} 

    <div class="block">
        <p class="notice"><a href="{% url 'discussions' %}">Live Chat:</a> Lorem ipsum dolor sit amet, consectetur heading</p>
    </div>           

	<div class="block">
	    <div class="title">Have your say</div>
	    <div class="head">
	        <img src="" />
	        <p>21 Comments <span>8 Likes</span></p>
	        <h2>Lorem ipsum dolor sit amet, consectetur heading</h2>
	    </div>
	    <form id="frmPole" method="post" action=".">
	        <div class="field">
	            <input type="radio" name="vote" value="vote1" />Voting Option 1<br />
	            <input type="radio" name="vote" value="vote2" />Voting Option 2<br />
	            <input type="radio" name="vote" value="vote3" />Voting Option 3<br />
	            <input type="radio" name="vote" value="vote4" />Voting Option 4<br />
	        </div>
	        <div class="btn">
	            <input type="submit" value="Vote">
	        </div>
	        <p><a href="#">See results</a></p>
	    </form>
	</div><!--/block-->
	<div class="block">
	    <div class="title">Discussions</div>
	    <ul>
	        <li><a href="{% url 'discussions' %}">Lorem ipsum dolor chat 1 topic here</a></li>
	        <li><a href="{% url 'discussions' %}">Lorem ipsum dolor chat 2 topic here</a></li>
	        <li><a href="{% url 'discussions' %}">Lorem ipsum dolor chat 3 topic here</a></li>
	        <li><a href="{% url 'discussions' %}">Lorem ipsum dolor chat 4 topic here</a></li>
	    </ul>
	</div><!--/block-->
	<div class="block">
	    <div class="title">Updates</div>
	    <div class="head">
	        <p>Article: 21 Comments <span>8 Likes</span></p>
	        <div class="clear"></div>
	        <img src="" />
	        <h2>Lorem ipsum dolor sit amet, consectetur heading</h2>
	    </div>
	    <div class="head">
	        <p>Gallery: 21 Comments <span>8 Likes</span></p>
	        <div class="clear"></div>
	        <img src="" />
	        <h2>Lorem ipsum dolor sit amet, consectetur heading</h2>
	    </div>
	    <div class="head">
	        <p>Article: 21 Comments <span>8 Likes</span></p>
	        <div class="clear"></div>
	        <img src="" />
	        <h2>Lorem ipsum dolor sit amet, consectetur heading</h2>
	    </div>
	</div><!--/block-->
                
{% endblock %}