{% extends 'base.html' %}

{% block content %}
            
	<div class="block">
	    <div class="title">
	        <div class="breadcrumbs"><a href="{% url 'index' %}">Home</a> &raquo; <a href="{% url 'articles' %}">Articles</a></div>
	    </div>                
	    <div class="head">
	        <img src="" />
	        <p><a href="#">21 Comments</a> | <a href="#">8 Likes</a></p>
	        <h2>Lorem ipsum dolor sit amet, consectetur heading</h2>
	    </div>
	    <div class="head">
	        <img src="" />
	        <p><a href="#">21 Comments</a> | <a href="#">8 Likes</a></p>
	        <h2>Lorem ipsum dolor sit amet, consectetur heading</h2>
	    </div>
	    <div class="head">
	        <img src="" />
	        <p><a href="#">21 Comments</a> | <a href="#">8 Likes</a></p>
	        <h2>Lorem ipsum dolor sit amet, consectetur heading</h2>
	    </div>
	    <div class="head">
	        <img src="" />
	        <p><a href="#">21 Comments</a> | <a href="#">8 Likes</a></p>
	        <h2>Lorem ipsum dolor sit amet, consectetur heading</h2>
	    </div>
	    <div class="head">
	        <img src="" />
	        <p><a href="#">21 Comments</a> | <a href="#">8 Likes</a></p>
	        <h2>Lorem ipsum dolor sit amet, consectetur heading</h2>
	    </div>               
	</div><!--/block-->
	<div class="pagination">
	 <ul>
	    <li><a href="#">&laquo; prev</a></li>
	    <li><a href="#">next &raquo;</a></li>
	    <li><a href="#">show all</a></li>
	 </ul>
	</div><!--/pagination-->
            
{% endblock %}