{% extends 'base.html' %}

{% block content %}

	<div class="block">
	    <div class="title">Sign In <span><a href="{% url 'register' %}">Sign Up</a></span></div>
	    <form id="frmLogin" method="post" action=".">
	        <div class="field">
	            <label>Username / Mobile</label>
	            <input type="text" name="username" value="" />
	        </div>
	        <div class="field">
	            <label>PIN</label>
	            <input type="password" name="password" />
	        </div>
	        <div class="btn">
	            <input type="submit" value="Sign In" />
	        </div>
	        <p><input type="checkbox" name="remember" />Remember me</p>
	        <p><a href="{% url 'forgot_password' %}">Forgot your PIN?</a></p>
	        <p>Don't have an account?</p>
	        <p><a href="{% url 'register' %}">Sign up now</a></p>                
	    </form>
	</div><!--/block--> 

{% endblock %}