{% extends 'base.html' %}

{% block content %}
            
	<div class="block">
	    <div class="title">
	        <div class="breadcrumbs"><a href="{% url 'index' %}">Home</a> &raquo; User Profile</div>
	    </div>            
	    <div class="head">
	        <img src="" />
	        <h2>indrani</h2>
	        <p>Join Date: 01/01/2014</p>
	        <p><a>8 Comments</a> Made</p>
	    </div>
	    <h3>About Indrani</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>                           
	</div><!--/block-->
            
{% endblock %}