{% extends 'base.html' %}

{% block content %}
            
	<div class="block">
	    <div class="title">My Profile</div>                
	    <div class="head">
	        <img src="" />
	        <h2>indrani</h2>
	    </div>
	    <form id="frmEditProfile" method="post" action=".">
	        <div class="field">
	            <label>Username</label>
	            <input type="text" name="username" value="" placeholder="indrani" />
	        </div>
	        <div class="field">
	            <label>Mobile number</label>
	            <input type="text" name="mobile_number" value="" placeholder="9999999999" />
	            <p>mobile formatting hint here</p>
	        </div>
	        <div class="field">
	            <label>Your picture</label>
	            <input type="file" name="image" />
	        </div>
	        <div class="field">
	            <label>About me</label>
	            <textarea cols="40" rows="5"></textarea>
	        </div>
	        <div class="field">
	            <label>PIN</label>
	            <input type="password" name="password" />
	        </div>
	        <div class="btn">
	            <input type="submit" value="Save" />
	        </div>                                   
	    </form>                           
	</div><!--/block-->
            
{% endblock %}