{% extends 'base.html' %}

{% block content %}

	<div class="block">
	    <div class="title">My Profile</div>                
	    <div class="head">
	        <img src="" />
	        <h2>indrani</h2>
	        <p>Mobile No: 9999999999</p>
	    </div>
	    <h3>About me</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Haec quo modo conveniant, non sane intellego.</p>
	    <p>
	        <a href="{% url 'my_profile_edit' %}">Edit My Profile</a><br />
	        <a href="{% url 'my_profile_edit' %}">Edit My Pin</a>
	    </p>                
	</div><!--/block-->
            
{% endblock %}