{% extends 'base.html' %}

{% block content %}
            
	<div class="block">
	    <div class="title">
	        <div class="breadcrumbs"><a href="{% url 'index' %}">Home</a> &raquo; Newsfeed</div>
	    </div>                
	    <div class="head">
	        <p>{Source name} | 03 Jul 2013</p>
	        <h2><a href="{% url 'newsfeed_detail' %}">Lorem ipsum dolor sit amet, consectetur heading</a></h2>
	    </div>                          
	</div><!--/block-->
	<div class="block">                
	    <div class="head">
	        <p>{Source name} | 03 Jul 2013</p>
	        <h2><a href="{% url 'newsfeed_detail' %}">Lorem ipsum dolor sit amet, consectetur heading</a></h2>
	    </div>           
	</div><!--/block-->
	<div class="block">                
	    <div class="head">
	        <p>{Source name} | 03 Jul 2013</p>
	        <h2><a href="{% url 'newsfeed_detail' %}">Lorem ipsum dolor sit amet, consectetur heading</a></h2>
	    </div>           
	</div><!--/block-->
	<div class="block">                
	    <div class="head">
	        <p>{Source name} | 03 Jul 2013</p>
	        <h2><a href="{% url 'newsfeed_detail' %}">Lorem ipsum dolor sit amet, consectetur heading</a></h2>
	    </div>           
	</div><!--/block-->
	<div class="block">                
	    <div class="head">
	        <p>{Source name} | 03 Jul 2013</p>
	        <h2><a href="{% url 'newsfeed_detail' %}">Lorem ipsum dolor sit amet, consectetur heading</a></h2>
	    </div>           
	</div><!--/block-->
	<div class="pagination">
	    <ul>
	       <li><a href="">&laquo; prev</a></li>
	       <li><a href="">next &raquo;</a></li>
	    </ul>
	</div><!--/pagination-->
            
{% endblock %}