{% extends 'base.html' %}

{% block content %}
            
	<div class="block">
	    <div class="title">Sign Up <span><a href="{% url 'login' %}">Sign In</a></span></div>
	    <form id="frmRegister" method="post" action=".">
	        <div class="field">
	            <label>Choose a username</label>
	            <input type="text" name="username" value="" />
	        </div>
	        <div class="field">
	            <label>Choose a 4 digit PIN</label>
	            <input type="password" name="password" />
	        </div>
	        <div class="field">
	            <label>Your mobile number</label>
	            <input type="text" name="mobile_number" value="" />
	            <p>mobile formatting hint here</p>
	        </div>
	        <div class="btn">
	            <input type="submit" value="Sign Up" />
	        </div>
	        <p><input type="checkbox" name="remember" />Remember me</p>                                    
	    </form>
	</div><!--/block-->           
            
{% endblock %}