{% extends 'base.html' %}

{% block content %}
            
	<div class="block">
	    <div class="title">Terms</div>                
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae autem natura suae primae institutionis oblita est? Miserum hominem! Si dolor summum malum est, dici aliter non potest. Quamvis enim depravatae non sint, pravae tamen esse possunt. Eam si varietatem diceres, intellegerem, ut etiam non dicente te intellego; </p>
	    <p>Hoc est non modo cor non habere, sed ne palatum quidem. Quo modo autem optimum, si bonum praeterea nullum est? Nobis aliter videtur, recte secusne, postea; Non enim, si malum est dolor, carere eo malo satis est ad bene vivendum. Quicquid porro animo cernimus, id omne oritur a sensibus; Piso, familiaris noster, et alia multa et hoc loco Stoicos irridebat: Quid enim? </p>
	    <p>Ille enim occurrentia nescio quae comminiscebatur; Tu quidem reddes; Non est ista, inquam, Piso, magna dissensio. Quo studio Aristophanem putamus aetatem in litteris duxisse? Quae quidem sapientes sequuntur duce natura tamquam videntes; </p>
	    <p>Duo Reges: constructio interrete. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? Quamquam in hac divisione rem ipsam prorsus probo, elegantiam desidero. Omnia contraria, quos etiam insanos esse vultis. Cur iustitia laudatur? Illud quaero, quid ei, qui in voluptate summum bonum ponat, consentaneum sit dicere. Hanc ergo intuens debet institutum illud quasi signum absolvere. Tum Torquatus: Prorsus, inquit, assentior; Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Nos paucis ad haec additis finem faciamus aliquando; Videmus igitur ut conquiescere ne infantes quidem possint. </p>
	    <p>Recte, inquit, intellegis. Hic ambiguo ludimur. Quod cum accidisset ut alter alterum necopinato videremus, surrexit statim. Ad eos igitur converte te, quaeso. Longum est enim ad omnia respondere, quae a te dicta sunt. In qua quid est boni praeter summam voluptatem, et eam sempiternam? </p>                              
	</div><!--/block-->

{% endblock %}