{% extends 'base.html' %}
{% load core_widgets social_media_widgets commenting_widgets commenting_tags tunosocial_widgets poll_widgets %}

{% block breadcrumbs %}
    <div class="breadcrumbs">{{ block.super }} {% breadcrumb_url_widget 'Articles' 'articles' %}</div>
{% endblock %}

{% block content %}
    {% include 'includes/message_error_header.html' %}
    <div class="block">
        <div class="item no-bord">
            <img src="{{ object.get_50x50_url }}">
            <div class="words">
                <div class="lead">{{ object.title }}</div>
                <div class="meta"><span>{% num_comments object %}</span> &nbsp;&bull;&nbsp; <span>{% tunosocial_likes_widget object %}</span></div>
            </div>
            {% if object.poll %}
                {% poll_widget object.poll_id %}
            {% endif %}
            {{ object.rich_content|safe }}
            {% social_media_share_widget 'facebook' 'twitter' 'google' %}
        </div>
        <div class="item">
		    {% num_comments object %}
		    <a href="{% url 'article_post_comment' object.slug %}" class="add_comment">Add yours</a>
        </div>
        <div class="comments">
    	    {% commenting_widget object 3 page_obj %}
    	    <a href="{% url 'article_all_comments' object.slug %}" class="show_all">Show All</a>
        </div>
    </div>
{% endblock %}

{% block bottom_js %}
    {% include 'commenting/includes/commenting_widget_js.html' %}
    {% include 'core/includes/ajax_pagination_js.html' %}
    {% include 'tunosocial/includes/tunosocial_likes_widget_js.html' %}
    {% include 'poll/includes/poll_widget_js.html' %}
{% endblock %}