<div class="social_media_share_widget hidden">
    <p>Share:</p>
    <div class="socila_media_inline">
    {% if facebook %}
        {% include 'facebook/includes/share_button.html' %}
    {% endif %}
    </div>
    <div class="socila_media_inline">
    {% if twitter %}
        {% include 'twitter/includes/share_button.html' %}
    {% endif %}
    </div>
    <div class="socila_media_inline">
    {% if google %}
        {% include 'google_plus/includes/share_button.html' %}
    {% endif %}
    </div>
    <div style="clear:both">&nbsp;</div>
</div>