{% extends 'base.html' %}

{% block content %}
    <div id="main">

        <div id="content">

            <div class="title">
                <h2>Login</h2>
                <p>Use the form below to log into your Unomena account</p>
            </div>
            
            {% include 'core/includes/message_error_header.html' %}

            <div class="container">
                <form id="frmLogin" method="post" action="{% url 'secure_login' %}" class="form-divided">{% csrf_token %}
                    <div class="form-login">
                    	<input type="hidden" name="next" value="{{ next }}"/>
                        <h3>Login</h3>
                        {% for field in form %}
		                    <div class="field">
	                            {{ field.label_tag }}
	                            {{ field.errors }}
	                            {{ field }}
		                    </div>
		                {% endfor %}
                        <div class="buttons">
                            <input type="submit" value="Login" />
                            <a href="{% url 'secure_password_reset' %}">Forgot Your Password?</a>
                        </div>
                    </div>
                    <div class="form-tips">
                        <h3>Tips for logging in</h3>
                        <ul>
                            <li>Make sure you enter a valid email address</li>
                            <li>Double-check the spelling of your email address</li>
                            <li>Make sure CAPS-lock is off</li>
                        </ul>
                    </div>
                </form>
            </div>

        </div><!--/content-->

    </div><!--/Main-->
{% endblock %}